.feedback {
    padding-bottom: 180px;
}

.feedback__title {
    margin-bottom: 38px;

    @include smallSize {
        text-align: center;
    }
}


.feedback__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    align-items: center;

    @include mediumSize {
        grid-template-columns: repeat(2, 2fr);
        row-gap: 20px
        
    }

    @include smallSize {
        grid-template-columns: 2fr;
        gap: 30px;
    }

}



