.section-map {
    padding: 180px 0;
    position: relative ;
    overflow-x: hidden;

    &::before {
        // display: none;
        content: "V";

        right: calc(50% + 550px);
        transform: translate(50%, 23%);
        
        z-index: -1;
        @include decorNumber
     }
}

.section-map__title {
    margin-bottom: 88px;

    @include mediaTablet {
        text-align: center;
        margin-bottom: 40px;
    }
}


.map {
    background: #626262;
    height: 358px;
    z-index: 1;
}
